<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Wordpress</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Java Core</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>LaTEX</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Isabelle</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Office Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>SharePoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->   
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Guitar</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>DotA</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
                     
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>Vietnamese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="https://www.dropbox.com/s/ynbvvcazo4iffbq/trinhlk_CV.pdf?dl=0">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Master of Information Technology <span class="duration"><i class="fa fa-calendar color"></i> 2016 - 2018</span></h5>
                <h6><span class="fa fa-book"></span> Japan Advanced Institute of Science and Technology (JAIST)</h6>
                <p>Formalization and Verification of AUTOSAR OS Standard’s Memory Protection.</p>
            </li>
            <li>
                <h5>Bachelor of Information Technology <span class="duration"><i class="fa fa-calendar color"></i> 2010 - 2014</span></h5>
                <h6><span class="fa fa-book"></span> University of Engineering and Technology, VNUH</h6>
                <p>A Method and Tool supporting for Automated Testing Of Web Applications.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Master’s program scholarship
                    <br>
                    <span class="duration"><i class="fa fa-calendar color"></i> 2017</span>
                </h5>
                <h6><span class="fa fa-trophy"></span> JAIST</h6>
            </li>
            <li>
                <h5>JASSO scholarship 
                    <br>
                    <span class="duration"><i class="fa fa-calendar color"></i> 2016</span>
                </h5>
                <h6><span class="fa fa-trophy"></span> JASSO</h6>
            </li>
            <li>
                <h5>Encourage Academic Scholarship for Outstanding Thesis 
                    <br>
                    <span class="duration"><i class="fa fa-calendar color"></i> 2014</span>
                </h5>
                <h6><span class="fa fa-trophy"></span> UET, VNUH</h6>
            </li>
            <li>
                <h5>First Prize in “The Student Academic Research Contest” 
                    <br>
                    <span class="duration"><i class="fa fa-calendar color"></i> 2014</span>
                </h5>
                <h6><span class="fa fa-trophy"></span> Faculty of Information Technology, UET, VNUH</h6>
            </li>
            <li>
                <h5>First Prize in “The Student Academic Research Contest” 
                    <br>
                    <span class="duration"><i class="fa fa-calendar color"></i> 2013</span>
                </h5>
                <h6><span class="fa fa-trophy"></span> Faculty of Information Technology, UET, VNUH</h6>
            </li>
            <li>
                <h5>Encourage Academic Scholarship for Outstanding Students 
                    <br>
                    <span class="duration"><i class="fa fa-calendar color"></i> 2011-2014</span>
                </h5>
                <h6><span class="fa fa-trophy"></span> UET, VNUH</h6>
            </li>
        </ul>
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Reference</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
            <li class="clearfix"><a href="https://www.bliudze.me/simon">
                <img src="https://i2.wp.com/www.bliudze.me/simon/wp-content/uploads/2019/08/simon-orangy-200x200.jpg?resize=200%2C200&ssl=1" class="img_reference" width="100" height="100" alt="">
                <span>Simon Bliudze, Dr.</span>
                <p>Researcher at INRIA Lille – Nord Europe and a part-time Assistant Professor at the Computer Science department of École polytechnique</p>
                </a>
            </li>
            <li class="clearfix"><a href="https://uet.vnu.edu.vn/~hungpn/index_en.htm">
                <img src="https://uet.vnu.edu.vn/~hungpn/images/hungpn.jpg" class="img_reference" width="100" height="100" alt="">
                <span>Pham Ngoc Hung, Assoc. Prof.</span>
                <p>Vice Dean of Faculty of Information Technology, University of Engineering and Technology, Vietnam National University, Hanoi</p>
                </a>
            </li>
            <li class="clearfix"><a href="https://www.jaist.ac.jp/english/areas/sn/laboratory/aoki.html">
                <img src="https://www.jaist.ac.jp/english/areas/sn/laboratory/images/aoki.jpg" class="img_reference" width="100" height="100" alt="">
                <span>AOKI Toshiaki, Prof.</span>
                <p>Realize Safety and Security by Advanced Science and Technology</p></a>
            </li>
        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->