<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Trinh Le-Khanh</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Trinh, Le-Khanh</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">August 20, 1992</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Lille, France</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">trinh.le-khanh@inria.fr</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+33 (0) 7 64 43 22 10</span>
                <div class="clear"></div>
            </li>
<!--
            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">sc.chinaz.com</a></span>
                <div class="clear"></div>
            </li>
-->
        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Anything can go wrong, does.
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Có năng khiếu nghĩa là chưa có gì, tài ba chẳng qua là trò con trẻ, chỉ có nghiêm túc mới thành người và chăm chỉ mới tạo nên những bậc vĩ nhân.
 
        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_5.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
            <img src="images/img-profile/about_4.jpeg" alt="" />
            <img src="images/img-profile/about_1.jpg" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Research Interests</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Software Evolution</h6>
                    <p>Software changes are inevitable because there are many factors that change during the life cycle of a piece of software. Some of these factors include: Requirement changes.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Software Verification and Testing</h6>
                    <p>Verification and validation (V&V) is the process of checking that a software system meets specifications and that it fulfills its intended purpose.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Open Cloud Computing Interface</h6>
                    <p>The Open Cloud Computing Interface (OCCI) is a set of specifications delivered through the Open Grid Forum, for cloud computing service providers. OCCI has a set of implementations that act as proofs of concept.</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="clear"></div>
</div>
<!-- End .profile -->