<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Le Khanh Trinh</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Le Khanh Trinh</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-briefcase"></i>
                <label>Position</label>
                <span class="value">Lecturer</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Affiliation</label>
                <span class="value">Faculty of Information Technology, VNUH</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">trinh.le-khanh@vnu.edu.vn</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+84 (0) 24 3754 7600</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Office</label>
                <span class="value">320-E3, 144 Xuan Thuy, Hanoi, Vietnam</span>
                <div class="clear"></div>
            </li>
        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Anything can go wrong, does.
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Co nang khieu nghia la chua co gi, tai ba chang qua la tro con tre, chi nghiem tuc moi thanh nguoi va cham chi moi tao nen nhung bac vi nhan.
 
        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_5.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
            <img src="images/img-profile/about_4.jpeg" alt="" />
            <img src="images/img-profile/about_1.jpg" alt="" />
        </div>

    </div>

</div>


<!-- begin research interests -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Research Interests</div>
            <div class="clear"></div>
        </div>

        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-check-circle"></i></div>
                <div class="service-detail">
                    <h6>Software Verification and Testing</h6>
                    <p>Ensuring software correctness through formal verification, automated testing, and quality assurance techniques.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-search"></i></div>
                <div class="service-detail">
                    <h6>Program Analysis</h6>
                    <p>Static and dynamic analysis techniques for understanding program behavior, detecting bugs, and improving code quality.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-shield"></i></div>
                <div class="service-detail">
                    <h6>Software Security</h6>
                    <p>Vulnerability detection, security testing, and analysis of software systems for potential threats and attacks.</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Research Interests -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="clear"></div>
</div>
<!-- End .profile -->
