<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">

    <div class="col-md-6 profile-l">

        <!--Education-->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>

        <ul class="attributes">
            <li class="first">
                <p style="color:#EF3E96"><i class="fa fa-calendar color"></i> 2023</p>
                <h5>Doctor of Informatics</h5>
                <h6><span class="fa fa-book"></span> INRIA Lille - Nord Europe, University of Lille</h6>
                <p>Formal methods and verification of complex systems, cloud computing, and concurrency.</p>
            </li>
            <li>
                <p style="color:#EF3E96"><i class="fa fa-calendar color"></i> 2018</p>
                <h5>Master of Information Technology</h5>
                <h6><span class="fa fa-book"></span> Japan Advanced Institute of Science and Technology (JAIST)</h6>
                <p>Formalization and Verification of AUTOSAR OS Standard's Memory Protection.</p>
            </li>
            <li>
                <p style="color:#EF3E96"><i class="fa fa-calendar color"></i> 2014</p>
                <h5>Bachelor of Information Technology</h5>
                <h6><span class="fa fa-book"></span> University of Engineering and Technology, VNUH</h6>
                <p>A Method and Tool supporting for Automated Testing Of Web Applications.</p>
            </li>
        </ul>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_5.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
            <img src="images/img-profile/about_4.jpeg" alt="" />
            <img src="images/img-profile/about_1.jpg" alt="" />
        </div>

    </div>

</div>


<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="clear"></div>
</div>
<!-- End .profile -->