<!-- .publications -->
<div id="publications" class="content_2">

<h1 class="h-bloc">Publications</h1>

<div class="row">
<div class="col-md-12">   
    <div class="reference clearfix"> 
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Latest Publications</div>
            <div class="clear"></div>
        </div>
        <div id="publications-list">
            <!-- Filled by JS from Google Scholar RSS; fallback below -->
            <ul style="padding-left:15px;">
                <li>
                     <span>Son Nguyen, Hung Phan, <b>Trinh Le</b>, and Tien N. Nguyen.</span> <i>Suggesting natural method names to check name consistencies</i>. ICSE '20. 2020. DOI:<a href="https://doi.org/10.1145/3377811.3380926">10.1145/3377811.3380926</a>
                </li>
                <li>
                    <span><b>Le Khanh Trinh</b>, Yuki Chiba, and Toshiaki Aoki</span>, <i>Formalization and Verification of AUTOSAR OS Standard's Memory Protection</i>. TASE 2018. DOI:<a href="https://doi.org/10.1109/TASE.2018.00017">10.1109/TASE.2018.00017</a>
                </li>
                <li>
                    <span><b>Le Khanh Trinh</b>, Vo Dinh Hieu, Pham Ngoc Hung</span>, <i>A Method for Automated User Interaction Testing of Web Applications</i>. RDICT, Vol. E-3, No.8(11), 2015.
                </li>
                <li>
                    <span>Duong Hoang-Minh, <b>Le Khanh Trinh</b>, Pham Ngoc Hung</span>, <i>RIVF 2013 IEEE International Conference</i>, pp. 22-26, Nov 2013.
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

<div class="clear"></div>
</div>
    <!-- End .publications -->