<!-- .publications -->
<div id="publications" class="content_2">

<h1 class="h-bloc">Publications</h1>

<div class="row">
<div class="col-md-12">   
    <div class="reference clearfix"> 
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Latest Publications</div>
            <div class="clear"></div>
        </div>
        <div id="publications-list">
            <!-- Filled by JS from Google Scholar RSS; fallback below -->
            <ul style="padding-left:15px; font-size:16px; line-height:26px;">
                <li style="margin-bottom:18px;">
                    T. Le Khanh, A. Pham-Hoang, Q. Hoang-Van, T. Cao-Thi-Minh, and P. N. Hung, "An Efficient End-to-End User Interface Testing Method for Web Applications," <i>VNU Journal of Science: Computer Science and Communication Engineering</i>, vol. 41, no. 1, 2025.
                </li>
                <li style="margin-bottom:18px;">
                    T. Le-Khanh, Q. Hoang-Van, and P. N. Hung, "EmbedRank-LM: Natural Language-Driven Web Element Identification for Automated UI Testing," in <i>Proc. 17th Int. Conf. Knowledge and Systems Engineering (KSE)</i>, 2025, pp. 210-215.
                </li>
                <li style="margin-bottom:18px;">
                    L. K. Trinh and P. N. Hung, "Towards a Domain-specific Language for Developing Concurrent Applications using BIP Framework," <i>Journal of Computer Science and Cybernetics</i>, 2025.
                </li>
                <li style="margin-bottom:18px;">
                    T. Le-Khanh, H. G. Nguyen, S. Bliudze, and P. Merle, "Towards Exogenous Coordination of Concurrent Cloud Applications," <i>International Journal of Software Engineering and Knowledge Engineering</i>, vol. 34, 2024.
                </li>
                <li style="margin-bottom:18px;">
                    N. T. Cong, T. B. Ngoc, and L. K. Trinh, "A Novel Approach to Predicting Rug-Pull Risks in ERC-20 Smart Contracts," in <i>2024 RIVF Int. Conf. on Computing and Communication Technologies</i>, 2024.
                </li>
                <li style="margin-bottom:18px;">
                    L. K. Trinh, B. T. Cong, P. H. An, H. V. Quyen, C. T. M. Tam, and N. H. Pham, "A Novel Method for High-Fidelity Web Element Identification," in <i>16th Int. Conf. on Knowledge and Systems Engineering (KSE)</i>, 2024.
                </li>
                <li style="margin-bottom:18px;">
                    S. Nguyen, H. Phan, T. Le, and T. N. Nguyen, "Suggesting Natural Method Names to Check Name Consistencies," in <i>Proc. 42nd Int. Conf. on Software Engineering (ICSE '20)</i>, 2020, pp. 1372-1384. DOI: <a href="https://doi.org/10.1145/3377811.3380926">10.1145/3377811.3380926</a>
                </li>
                <li style="margin-bottom:18px;">
                    L. K. Trinh, Y. Chiba, and T. Aoki, "Formalization and Verification of AUTOSAR OS Standard's Memory Protection," in <i>2018 Int. Symp. on Theoretical Aspects of Software Engineering (TASE)</i>, Guangzhou, 2018, pp. 68-75. DOI: <a href="https://doi.org/10.1109/TASE.2018.00017">10.1109/TASE.2018.00017</a>
                </li>
                <li style="margin-bottom:18px;">
                    T. Le Khanh, V. D. Hieu, and P. N. Hung, "A Method for Automated User Interaction Testing of Web Applications," <i>Journal of Research and Development on Information and Communication Technology</i>, vol. E-3, no. 8(11), 2015.
                </li>
                <li style="margin-bottom:18px;">
                    D. Hoang-Minh, T. Le-Khanh, and P. N. Hung, "An Assume-Guarantee Model Checker for Component-Based Systems," in <i>2013 IEEE RIVF Int. Conf. on Computing and Communication Technologies</i>, 2013, pp. 22-26.
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

<div class="clear"></div>
</div>
    <!-- End .publications -->